<!DOCTYPE html>
<html>
<head>
    <title>Upload Forms</title>
</head>
<body>
    <h1>Upload Data</h1>
    <form method="post" enctype="multipart/form-data" action="{{ url_for('process_dicomseries') }}">
        <h2>Zip File for Dicom</h2>
        <label for="zip_file">Dicom File (Upload a .dcm file):</label>
        <input type="file" name="zip_file" id="zip_file" accept=".zip"><br>

        <br>
    
        <input type="submit" value="Submit">
    </form>
    {% if results|length >0 %}
        <p>{{ results }}</p>
    {% endif %}    
</body>
</html>